/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}
.star{
    color: #FBBF24;
}
.bg-footer{
    background-color: #161616;
}
.social-icon{
    color: #FFFFFF;
    font-size: 1.5em;
}